.ui.card.horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 400px;
    width:500px;
    min-height: 150px;
}

.ui.card.horizontal>.image {
    border-radius: 0;
    width: 150px;
}

.ui.card.horizontal>.image>img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.poss{
    position: absolute;
    bottom: 0;
    margin: 15px;
}
.bott{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
}
.home{
    animation-duration:1s ;
    animation-iteration-count: infinite;
}
